<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="AgentMesh WooCommerce Connector">
            <file>tests/test-auth.php</file>
            <file>tests/test-normaliser.php</file>
            <file>tests/test-products.php</file>
            <file>tests/test-cart.php</file>
            <file>tests/test-schema-injector.php</file>
            <file>tests/test-payments.php</file>
            <file>tests/test-addons.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">includes</directory>
            <directory suffix=".php">admin</directory>
        </include>
    </source>
</phpunit>
